<p id="notice"><%= notice %></p>

<p>
  <b>Avatar:</b>
  <%= image_tag @f_user.avatar.url %>
</p>

<p>
  <b>Name:</b>
  <%= @f_user.name %>
</p>

<p>
  <b>Education:</b>
  <%= @f_user.education %>
</p>

<p>
  <b>Hobbies:</b>
  <%= @f_user.hobbies %>
</p>

<p>
  <b>Birthday:</b>
  <%= @f_user.birthday %>
</p>

<p>
  <b>Rela status:</b>
  <%= @f_user.rela_status %>
</p>

<%= link_to 'Edit', edit_f_user_path(@f_user) %> |
<%= link_to 'Back', f_users_path %>
